/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    
    
    left: 00;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 13% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 3px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
.modal-header {
    
    padding:15px 25px;
}

.modal-footer {
    text-align: center;
    padding:15px
}

.modal-body {
    
    padding:15px 20px;
}
/* The Close Button */
.close {
    color:rgba(0,0,0,0.4);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.check{
    
    width:15px;
    height:15px;
}

.Facebookbtn {
    width:50px;
    height:50px;
    border-radius: 10px;
    background-image: url('icons/FB_ICON.png');
    text-align: center;
    color: #F8F8FF;
    background-color:   #4169E1;
    
    
}

.Signinbtn {
    
    width:100px;
    height:50px;
    border-radius: 10px;
    
    color: #F8F8FF;
    background-color: #228B22;
   
    
}